/* stylelint disable */
.pf-c-title.pf-m-5xl {
  font-size:  pf-font-prem(48px);
  font-weight: var(--pf-c-title--m-4xl--FontWeight);
  line-height: var(--pf-c-title--m-4xl--LineHeight);
}
/* stylelint enable */
