#{$block}-c-button-cta {
  margin: .25rem .5rem;
  padding: 12px 24px;
  white-space: normal;
  word-wrap: break-word;
  border-radius: 3px;
  font-size: 1rem;
  transition: .4s;
  transition-delay: 0s;
  transition-timing-function: ease;
  border-style: solid;
  border-width: 2px;

  &#{$block}-m-heavy {
    background: $pf-color-white;
    border-color: $pf-color-white;
    color: #06c;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.44;
    &:hover {
      background: #06c;
      border-color: #06c;
      color: $pf-color-white;
    }
  }

  &#{$block}-m-outline {
    background-color: transparent;
    background-image: none;
    border-color: $pf-color-white;
    color: $pf-color-white;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.44;
    &:hover {
      background: #fff;
      border-color: #fff;
      color: #06c;
    }
  }
}
#{$block}-c-button {
  @extend .pf-c-button;
  &#{$block}-m-link {
    @extend .pf-m-link;
    &.pf-m-white {
      @extend .pf-m-white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
