$fa-font-path: '../assets/fonts/webfonts';
$pf-global--font-path: '../assets/fonts';

// Imagepath
$pf-global--image-path: '../assets/images' !default;

// Fonts
// Font family
// stylelint-disable value-keyword-case
$pf-global--FontFamily--sans-serif: 'RedHatDisplay' !default;
$pf-global--FontFamily--monospace: 'RedHatText' !default;
// stylelint-enable value-keyword-case
